<!--<ul>
  <li *ngFor="let city of cities">
    {{city}}

  </li>
</ul>

002 Directivas ngClass; se p tarab con arrays y objetos , se p hac validaciones 

<ul *ngFor="let city of cities">
  <li [ngClass]="'selected'"> {{city}}
    
</li>
</ul>

<ul *ngFor="let city of cities">
  <li [ngClass]="{'selected': city === 'Lima' , 'blue': city!== 'Lima'}"> {{city}}
    
</li>
</ul>

04 Eventos


<div *ngIf="selection">
  <p>your city is: {{selection}} </p>
  <button (click)="onClear()">Clear Selection</button>
</div>

05 input y ouput
07 deteccion de cambios 
-->
<app-nabvar></app-nabvar>

<div class="container">
  <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    
  </div>
</div>




