
<div class="container">
    <div class="row">
      <div class="col-md-12 my-3">
        <app-form-new-item [selection]="selection"
        (updateItemEvent)="updateCity($event)"
        (newItemEvent)="addNewCity($event)" name="newItem"
         [label]="'city'" [className]="'btn-danger'">
        </app-form-new-item>
      </div>
      <div class="col-md-8">
          <app-cities *ngFor="let city of cities" 
          (cityDeleteEvent)="onCityDelete($event)"
          (citySelectedEvent)="onCitySelected($event)"  [city]="city"  [selection]="selection">
          </app-cities>
      </div>
      
      <hr>
      <app-card> 
        <div card-header>header</div>
        <div card-body>body</div>
      </app-card>
      <hr>
      <app-card>
        <div card-header>spain</div>
        <div card-body>body 2</div>
      </app-card>
      <hr>
      <app-card>
        <div card-header>hello</div>
        <div card-body>hi</div>
      </app-card>
       <hr>
        <!--<input type="text" (keypress)="onSearch()">-->
        
          <div class="col-md-4">
              <div *ngIf="selection?.name">
                <p>your city is: {{selection?.name}} </p>
                 <app-button (click)="onClear()" [color]="'blue'" [label]="'Clear Seleccion'" > </app-button>
          </div>
        </div>
    </div>
  </div>
  <hr>

